@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
body{
    font-family: 'Lora', serif;
}
.container{
    background-color: rgb(218, 210, 210);
    padding: 20px;
    font-family: 'Lora', serif;
    margin: 40px 350px ;
}
.lead span{
    background-color: rgb(101, 13, 202);
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
}
